h1 {
    color: white;
    text-align: center;
}

p {
    font-family: verdana;
    font-size: 20px;
}

#Nama {
    color: red;
    font-size: 40px;
    text-align: center;
}

.Nim {
    color: rgb(46, 46, 144);
    font-size: 40px;
    text-align: center;   
}

table{
    border: 3px solid black;
    border-radius: 5px;
    padding: 1,5px;
    width: 100%;
    text-align: center;
}

th, td{
    border: 3px solid black;
    padding: 10px;
    font-size: 18px;
}
input[type=text] {
    width: 500px;
    height: 40px;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=button] {
    background-color: #00a2ff;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 4px;
    width: 120px;
    height: 40px;
    font-size: 15px;
    margin-left: 20px;
    margin-right: 20px;
}

.buttontambah {
    background-color: #00a2ff;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 4px;
    width: 120px;
    height: 40px;
    font-size: 15px;
    margin-left: 20px;
    margin-right: 20px;
}

.buttonEdit {
    background-color: #00a2ff;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 4px;
    width: 120px;
    height: 40px;
    font-size: 15px;
    margin-left: 20px;
    margin-right: 20px;
}

.buttontambah:hover{
    background-color: #00a2ff96;
}

.buttonEdit:hover{
    background-color: #00a2ff96;
}

input[type=button]:hover {
    background-color: #00a2ff96;
}

label {
    font-size: 18px;
}

#tbarang {
    border: 2px solid rgb(0, 0, 0);
    background-color: #e3e3e3;
    border-radius: 5px;
    padding: 20px;
    width: 525px;
}

#eBarang {
    border: 2px solid rgb(0, 0, 0);
    background-color: #e3e3e3;
    border-radius: 5px;
    width: 525px;
    padding: 20px;  
}

body {
    margin-top: 30px;
}

